@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

$tablet-width: 768px;

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

$lg-width: 1100px;

@mixin lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}
