// html {
//   max-width: 100%;
// }
* {
  box-sizing: border-box;
}
body {
  background: $white;
  max-width: 100%;
}

section {
  display: flex;
}

a {
  text-decoration: none;
  &:hover {
    color: $pink !important;
  }
}

button {
  border: none;
}

button,
input {
  &:focus {
    outline: none;
  }
  &:hover {
    background: $white;
  }
}
