header {
  background: $black;
  display: flex;
  justify-content: center;
}

// .side-menu {
//   display: none;
// }

.section1 {
  height: 100px;
  max-width: 950px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @include tablet {
    flex-flow: column;
    padding: 30px 0;
    height: auto;
    margin-bottom: 15px;
  }
}

.section2 {
  display: block;
  max-width: 950px;
  margin: 0 auto;

  .section-wrap {
    display: flex;
  }
}

.section3 {
  display: block;
  background-image: linear-gradient(
    110deg,
    $white 0%,
    $grey 50%,
    $dark-grey 50%,
    $black 100%
  );

  .section3-wrap {
    max-width: 950px;
    margin: 0 auto;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-flow: column;
      height: auto;
      padding: 20px 0 0;
    }
  }
}

.section4 {
  article {
  }
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  max-width: 950px;
  margin: 10px auto;
  padding: 20px;
}

.section5 {
  display: block;
  max-width: 950px;
  margin: 0 auto;

  .section5-wrap {
    display: flex;
    background: lighten($grey, 40%);
    margin: 0 20px;
    flex-flow: column;
    max-width: 100%;
    @include border-radius(5px);
  }
}

.section6 {
  max-width: 950px;
  margin: 0 auto;

  .section6-wrap {
    flex-direction: column;
    margin: 90px 20px;
    background: lighten($grey, 30%);
    @include border-radius(10px);
  }
}

.section7 {
  display: block;
  max-width: 950px;
  margin: 0 auto;

  .section7-wrap {
    display: flex;
    background: $white;
    margin: 0 20px 30px;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: lighten($black, 15%);
    @include border-radius(5px);
  }
}

footer {
  display: flex;
  margin: 0;
  background: $black;
  justify-content: center;
  align-items: center;
  color: darken($white, 20%);
  font-size: 0.8rem;
  letter-spacing: 2px;
}
