// header
.head-wrap {
  display: flex;
  // border: 1px solid blue;
  width: 950px;
  justify-content: flex-end;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
    // border: 1px solid yellow;
    width: 70%;

    a {
      color: $white;
      text-decoration: none;
    }

    button {
      background: $pink;
    }
  }
}

// section one
.one {
  .one-1 {
    display: flex;
    align-items: center;
    color: darken($dark-grey, 10%);
    font-size: 1rem;

    i {
      margin: 10px;
    }

    p,
    hr {
      margin: 0;
    }

    hr {
      border-color: $grey;
    }

    @include tablet {
      margin: 20px auto;
      font-size: 1.5rem;
      p,
      hr {
        margin: 5px;
      }
    }
  }

  input {
    height: 40px;
    width: 300px;
    margin-right: 30px;
    padding-left: 10px;
    border: 1px solid $black;
    @include border-radius(5px);
    @include tablet {
      width: 90%;
      margin: 0 auto;
    }
  }
}

// section two
.two {
  nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @for $i from 1 through 7 {
      .link-#{$i} {
        color: $black + $i * 20;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

// section three
.three {
  .wrap {
    %flex-column {
      display: flex;
      flex-flow: column;
      color: $white;
    }

    .three-1 {
      @extend %flex-column;
      font-size: 1.2rem;
      margin-left: 30px;
      max-width: 100%;

      a {
        color: $dark-grey;
        margin: 10px;
        i {
          margin-right: 10px;
          font-size: 0.8rem;
        }
      }

      @include tablet {
        flex-flow: row;
        justify-content: space-around;
        width: 90%;
        margin: auto;

        @for $i from 1 through 4 {
          .lin-#{$i} {
            color: lighten($white, $i * 5%);
          }
          // text-decoration: underline;
        }
      }
    }

    .three-2 {
      @extend %flex-column;
      width: 45%;
      // padding: 0;

      @include tablet {
        width: 100%;
        margin: 30px;
      }

      %width-height {
        width: 300px;
        height: 45px;
        box-sizing: border-box;
        margin: 0 auto;

        @include tablet {
          width: 100%;
          // margin: 0 40px;
        }
      }

      p {
        @extend %width-height;
        height: 30px;
        max-width: 80%;
      }

      input {
        @extend %width-height;
        margin-bottom: 20px;
        max-width: 80%;
        box-sizing: border-box;
        border: 1px solid black;
      }

      button {
        @extend %width-height;
        background: $pink;
        color: $black;
        @include border-radius(3px);
        margin-bottom: 10px;
        max-width: 80%;
      }

      article {
        @extend %width-height;
        max-width: 80%;
        height: auto;
        a {
          color: $white;
          i {
            font-size: 0.8rem;
          }
        }

        div {
          display: flex;
          a {
            font-size: 0.7rem;
            margin-right: 3px;
            text-decoration: underline;
            color: $white;
          }

          span {
            margin-right: 3px;
          }
        }
      }
    }
  }
}

// section four
.four {
  article {
    // border: 1px solid red;
    padding: 5px;
    p {
      color: darken($grey, 10%);
    }
    @include tablet {
      margin: 10px 0;
    }

    a {
      font-size: 1.5rem;
      font-weight: bold;
      color: $dark-grey;

      i {
        font-size: 1.1rem;
      }
    }

    @include tablet {
      p {
        margin-top: 10px;
      }
    }
  }
}

// section five
.five {
  .cats-wrap {
    display: flex;
    // border: 1px solid yellow;
    article {
      display: flex;
      margin: 30px 30px 0;
      // border: 1px solid red;
      @include tablet {
        flex-flow: column;
        justify-content: center;
        margin: 30px 20px;
      }

      div {
        width: 30%;
        margin-right: 20px;
        a {
          color: $black;
          text-decoration: underline;
        }
        h2 {
          line-height: 25px;
        }
        @include tablet {
          order: 2;
          width: 95%;
          margin: auto;
          p {
            margin: 0;
          }
        }
      }

      iframe {
        width: 70%;
        border: none;

        @include tablet {
          order: 1;
          width: 98%;
          margin: auto;
        }
      }
    }

    .cats {
      // border: 1px solid green;
      margin: 0 20px;
      @include tablet {
        flex-direction: column;
        padding: 0 20px;
        // margin-bottom: 10px;
      }
      article {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        margin: 10px 10px 30px;
        // @include tablet {
        //   flex-direction: row;
        //   justify-content: flex-start;
        //   margin: 10px auto;
        // }
      }

      img {
        max-width: 100%;
        border: 1px solid $grey;
        @include border-radius(5px);
        // @include tablet {
        //   width: 50%;
        //   align-self: center;
        //   margin-right: 20px;
        // }
      }

      a {
        color: $black;
        text-decoration: underline;
        margin-top: 10px;
        @include tablet {
          text-align: center;
        }
      }
    }

    hr {
      width: 70%;
      margin: 0 auto;
    }

    button {
      width: 120px;
      height: 55px;
      margin: 20px auto;
      @include border-radius(5px);
      background: $dark-grey;
      padding: 15px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: $white;
    }
  }
}

// section six
.six {
  .longCat {
    background: lighten($black, 20%);
    padding: 10px 20px;
    display: flex;
    color: $black;
    align-items: center;
    // height: 80px;
    @include border-radius(5px);

    .text {
      width: 60%;
      font-size: 0.8rem;
      line-height: 15px;
      color: darken($white, 20%);

      h3 {
        text-decoration: underline;
        margin: 10px 0;
      }
    }

    .catIcon {
      width: 40%;
      text-align: right;
      margin-right: 50px;
      color: darken($white, 20%);
      @include tablet {
        margin-right: 0;
      }
    }
  }

  .cats2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    margin: 20px 5px;
    padding: 15px;
    @include tablet {
      grid-template-columns: auto;
    }

    article {
      display: flex;
      flex-direction: column;
      @include tablet {
        margin-bottom: 30px;
      }

      a {
        color: $black;
        text-decoration: underline;
        font-size: 1.2rem;
        margin-top: 10px;
        font-weight: bolder;
      }
    }
  }
  img {
    max-width: 100%;
    @include border-radius(5px);
    border: 1px solid $dark-grey;
  }
}

// section seven
.contact-wrap {
  @include tablet {
    flex-flow: column;
    p {
      margin: 10px;
    }
  }
  .conIcons {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    width: 300px;
  }
}
