// header

header {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    font-size: 0.8rem;

    a {
      color: $light-grey;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }

    button {
      background: $red;
    }
  }
}

// section one

.one {
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .one-1 {
    display: flex;
    align-items: center;
    color: $dark-grey;
    font-size: 1rem;

    i {
      margin: 10px;
    }

    p,
    hr {
      margin: 0;
    }
  }

  input {
    height: 40px;
    width: 300px;
    margin-right: 30px;
    padding-left: 10px;
    border: 1px solid $black;
    @include border-radius(5px);

    &:focus {
      outline: none;
    }
  }
}

// section two
.two {
  nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a {
    color: $dark-grey;
    text-decoration: none;
    &:hover {
      color: $red;
    }
  }
}

// section three
.three {
  background-image: linear-gradient(
    110deg,
    #6d7275 0%,
    #6d7275 50%,
    #0c120c 50%,
    #0c120c 100%
  );
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: $light-grey;
  }

  %flex-column {
    display: flex;
    flex-flow: column;
    color: $light-grey;
  }

  .three-1 {
    @extend %flex-column;
    font-size: 1.2rem;
    margin-left: 30px;

    a {
      margin: 10px;
      &:hover {
        color: $red;
      }
      i {
        margin-right: 10px;
        font-size: 0.8rem;
      }
    }
  }

  .three-2 {
    @extend %flex-column;
    width: 45%;
    padding: 0;

    %width-height {
      width: 300px;
      height: 40px;
      box-sizing: border-box;
      margin: 0 auto;
    }
    p {
      width: 300px;
      margin: 0 auto;
    }
    input {
      @extend %width-height;
      margin-bottom: 20px;
    }
    button {
      @extend %width-height;
      background: $red;
      color: $black;
      @include border-radius(3px);
      margin-bottom: 10px;
    }
    div {
      width: 300px;
      margin: 0 auto;
      i {
        font-size: 0.8rem;
      }
      a {
        display: inline;
        &:hover {
          color: $red;
        }
      }
      div {
        display: flex;

        a {
          font-size: 0.7rem;
          margin-right: 5px;
          text-decoration: underline;
        }
        span {
          margin-right: 5px;
        }
      }
    }
  }
}

// section four

.four {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  // border: 1px solid red;
  max-width: 950px;
  margin: 50px auto;
  padding: 0 20px;

  article {
    a {
      font-size: 1.5rem;
      font-weight: bold;
      color: $black;

      &:hover {
        color: $red;
      }

      i {
        font-size: 1.1rem;
      }
    }
  }
}

// section five
.five {
  background: $grey;
  margin: 0 20px;
  display: flex;
  flex-flow: column;

  article {
    display: flex;
    margin: 30px 30px 0;

    div {
      width: 30%;
      margin-right: 20px;
      a {
        color: $black;
        text-decoration: underline;
        &:hover {
          color: $red;
        }
      }
      h2 {
        line-height: 25px;
      }
    }

    iframe {
      width: 70%;
      border: none;
    }
  }

  .cats {
    display: flex;
    margin-bottom: 20px;

    article {
      display: flex;
      flex-direction: column;
    }

    img {
      max-width: 100%;
      @include border-radius(5px);
    }

    a {
      color: $black;
      text-decoration: underline;
      margin-top: 10px;
      &:hover {
        color: $red;
      }
    }
  }

  hr {
    width: 95%;
  }

  button {
    width: 120px;
    height: 55px;
    margin: 30px auto;
    @include border-radius(5px);
    background: $dark-grey;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $light-grey;
    border: 1px solid #494d50;
  }
}

// section six
.six {
  display: flex;
  flex-direction: column;
  margin: 50px 20px;

  .longCat {
    padding: 0 20px;
    display: flex;
    background: $black;
    color: $grey;
    align-items: center;
    height: 100px;
    // @include border-radius(5px);

    .text {
      width: 60%;
      font-size: 0.8rem;
    }
    .catIcon {
      width: 40%;
      text-align: right;
      margin-right: 50px;
    }
  }

  .cats2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    margin: 30px;

    article {
      display: flex;
      flex-direction: column;

      a {
        color: $black;
        text-decoration: underline;
        font-size: 1.2rem;
        margin-top: 10px;
        font-weight: bolder;
        &:hover {
          color: $red;
        }
      }
    }
  }
  img {
    max-width: 100%;
    @include border-radius(5px);
    border: 1px solid $dark-grey;
  }
}
